# Ignore workspace and pycache:
**/__pycache__
.spyproject
test.py
*wrong*

# macOS files
.DS_Store
**/.DS_Store

# Ignore files from IDEs
.idea/
.vscode/

# Ignore log file from recompile script
utilities/recompile_parts.log

# Ignore testing folder
calculations/

# sphinx build directory
doc/_build

# files from docs spell checker
*.spelling 
.cspell/

# Ignore compiled versions of random_.c, beamgen, .x files and .so files
**/random_.o
**/MPIrandom_.o
**/beamgen.v1.7
*.x
*.so
*.mod
*.o
*.pyf


tleedmlib/wrapped/source/wrapf2py
tleedmlib/wrapped/source/interpolation_benchmarks
tleedmlib/wrapped/source/compile
tleedmlib/wrapped/verification_data

test_exec
*.ipynb*
tensorleed/eeasisss_new/eeasisss
tensorleed/eeasisss_new/Fortran_quicktests
*.plist
*.mod