# Ignore workspace and pycache:
**/__pycache__
.spyproject
test.py
*wrong*

# macOS files
.DS_Store
**/.DS_Store

# Ignore files from Jetbrains IDEs
.idea/

# Ignore log file from recompile script
utilities/recompile_parts.log

# Ignore testing folder
Hematite_test/
Tests/

# Ignore compiled versions of random_.c and beamgen
**/random_.o
**/MPIrandom_.o
**/beamgen.v1.7