# Environment for building the ViPErLEED documentation
myst-nb==0.17.2
sphinx-rtd-theme==1.2.0
Sphinx==5.3.0
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-spelling==8.0.0
sphinxcontrib-svg2pdfconverter==1.2.2
